<h1>Listing pdf2s</h1>

<table>
  <tr>
    <th>Htmlcontent</th>
  </tr>

<% @pdf2s.each do |pdf2| %>
  <tr>
    <td><%=h pdf2.htmlcontent %></td>
    <td><%= link_to 'Show', pdf2 %></td>
    <td><%= link_to 'Edit', edit_pdf2_path(pdf2) %></td>
    <td><%= link_to 'Destroy', pdf2, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pdf2', new_pdf2_path %>