<h1>New pdf</h1>

<% form_for(@pdf) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content1 %><br />
    <%= f.text_area :content1 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pdfs_path %>